@import "tailwindcss";
@theme  {
 --color-primary: #1D4ED8;     /* Blue-700 */
  --color-accent: #93C5FD;      /* Blue-300 */
  --color-background: #F0F9FF;  /* Light blue-gray */
  --color-surface: #FFFFFF;     /* White */
  --color-text: #1E293B;        /* Slate-800 */
  --color-danger: #EF4444;      /* Red-500 */
  --color-muted: #64748B; 
}